<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
</head>
<body>

<div class="container">
    <div id="task">
        <div v-show="remaining.length">
            <h1>Tasks ({{ remaining.length }})</h1>
            <ol class="list-group">
                <li v-repeat="task : tasks | inProcess"
                    class="list-group-item"
                        >
                    <span v-on="dblclick: editTask(task)">{{ task.body }}</span>

                    <button v-on="click: removeTask(task)">&#10007;</button>
                    <button v-on="click: toggleTask(task)">&#10004;</button>
                </li>
            </ol>
        </div>

        <form v-on="submit: addTask">
            <div class="form-group">
                <input v-model="newTask"
                       v-el="newTask"
                       class="form-control"
                       placeholder="I need to..."
                        />
            </div>
            <button class="btn btn-primary">Add task</button>
            <button v-on="click: completeAll" class="btn btn-default">Mark All as Competed</button>
        </form>

        <div v-if="completions.length">
            <h2>Completed ({{ completions.length }})</h2>
            <ol class="list-group">
                <li class="list-group-item" v-repeat="task : tasks | completeTasks">
                    {{ task.body }}
                    <button v-on="click: toggleTask(task)">&#10007;</button>
                </li>
            </ol>
            <button v-on="click: clearCompleted" class="btn btn-danger">Clear Completed</button>
        </div>

    </div>


</div>

<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>